<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="40080000" configForSplit="" package="app.zenly.locator" split="config.arm64_v8a">
    <application android:hasCode="false">
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="2"/>
    </application>
</manifest>
